@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

.projects {
  font-family: "Zen Kaku Gothic New", sans-serif;
  background-color: orange;
}
.project_link,
.gh_project_link {
  text-decoration: none;
  color: darkslategrey;
}
