@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

.header {
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  font-family: "Raleway Dots", cursive;
  font-weight: 900;
  font-size: 20px;
}
.ulist {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 15px;
}
.header_link {
  text-decoration: none;
  margin: 20px;
  padding-top: 15px;
  color: bisque;
}
